@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.profile-page {
  padding-top: 1rem;
}

.upcoming-events-container {
  background-color: rgb(233, 226, 226);
  max-width: 100rem;
  margin: 1rem;
  padding: .5rem;
}

.event-tile {
  padding: .5rem;
  background-color: lightblue;
  border-radius: .25rem;
  max-width: 20rem;
  min-width: 10rem;
}

.bold {
  font-weight: bold;
}

.evnt {
  background-color: #33ccff;
}

.evnt-text {
  text-align: center;
}

.question-container {
  margin: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}


h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.browse {
  margin: 1rem 5rem;
}

.inline-element {
  display: inline-block;
  margin: 0 10px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}

h3 {
  text-align: center;
}

.delete-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  color: white;
  border: none;
  // border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-circle:hover {
  background: darkred
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.answer {
  flex: 1;
  width: 100%;
  // resize: none; /* Prevent resizing by the user */
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.answer-container {
  width: 100%;
}

.answer-toggle {
  position: absolute;
  bottom: 0px;
  right: 5px;
  // display: block;
  font-weight: bold;
  // margin-top: 5px;
  // text-align: right;
  // justify-content: right;
  cursor: pointer;
}

.question-item > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  display: block;
  padding-top: 15px;
  padding-left: 15px;
}

.answer-box {
  margin: 0 3rem;
}