@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.profile-page {
  padding-top: 1rem;
}

.site-name {
  font-size: 10vw;
}

.index-container {
  display: grid;
  grid-template-columns: 200px 1fr;
}

.categories-bar {
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
}

.top-categories {
  width: 100%;
  text-decoration: none;
  color: white;
  padding: 15px;
  display: block;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
}

.top-categories-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.browse-all {
  display: inline;
  text-align: center;
  width: 100%;
}

.upcoming-events-container {
  background-color: rgb(233, 226, 226);
  align-items: center;
  max-width: 100rem;
  min-width: 240px;
  margin: 1rem;
  padding: .5rem;
}

.live-events-container {
  background-color: rgb(233, 226, 226);
  margin: 1rem;
  padding: .5rem;
}

.event-tile {
  background-color: #e0f7fa;
  padding: 10px;
  margin: 50px;
  border-radius: 8px;
  max-width: 30rem;
  min-width: 15rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  font-family: Arial, sans-serif;
}

.event-tile p {
  margin: 5px 0;
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-list {
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(233, 226, 226);
  margin: 1rem;
  padding: .5rem;
}

.bold {
  font-weight: bold;
}

.event {
  background-color: #33ccff;
}

.event-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-text {
  text-align: center;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 2rem;
}

.question-container {
  margin: 2rem;
}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.browse {
  margin: 1rem 5rem;
}

.inline-element {
  display: inline-block;
  margin: 0 10px;
}

div {
  margin-bottom: 10px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  font-size: 16px;
  width: 100px;
  cursor: pointer;
}

h3 {
  text-align: center;
}

.delete-circle {
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  color: white;
  border: none;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.delete-circle:hover {
  background: darkred
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  gap: 10px;
  padding: 10px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.answer {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.answer-container {
  width: 100%;
}

.answer-toggle {
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-weight: bold;
  cursor: pointer;
}

.answer-box {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 0 1rem;
}

.answer-list-container {
  max-width: 32rem;
  min-width: 15rem;
  margin: 0 .5rem;
}

.question-form {
  width: 15rem;
  margin: 0 .5rem;
}

.question-item > div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.question {
  display: block;
  padding-top: 15px;
  padding-left: 15px;
}

.center-text {
  text-align: center;
}

.toggle-container {
  justify-content: center;
  margin-right: 20px;
}

.live-toggle {
  border: solid black;
  background-color: rgb(171, 238, 229);
  border-radius: .5rem;
  padding: 1rem;
  font-weight: bold;
  margin: 1rem;
  min-width: 118px;
  cursor: pointer;
}

.live-toggle:hover {
  background: #f0f0f0
}

.no-wrap {
  flex-wrap: nowrap;
}