@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.profile-page {
  padding-top: 1rem;
}

.upcoming-events-container {
  background-color: rgb(233, 226, 226);
  max-width: 100rem;
  margin: 1rem;
  padding: .5rem;
}

.event-tile {
  padding: .5rem;
  background-color: lightblue;
  border-radius: .25rem;
}

.bold {
  font-weight: bold;
}

.evnt {
  text-align: center;
  background-color: #33ccff;
}

.question-item {
  margin: .5rem, 0
}

.question {
  margin: 0, .5rem
}

.question-container {
  margin: 3rem;
}

.form {
  padding: 0.25rem;
  max-width: 60rem;
}

h1 {
  text-align: center;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.browse {
  margin: 1rem 5rem;
}

.inline-element {
  display: inline-block;
  margin: 0 10px;
}

